{% extends "garhdony_app/base.html" %}

{% block content %}

<h2>Casting and Genders</h2>

<p>
Because we try to make our games as immersive as possible, we prefer not to cross-cast players who present as male in
the role of female characters or vice versa. We write our games so that most of the characters
    can be changed to be male or female depending on the player cast in the role.
    Despite being medieval in most ways, our world has complete gender equality; you won't miss out on the perfect
    character experience due to your gender identification. </p>

<p>If you do not identify entirely as male or female,
please select on the application which gender you plan to present as at the game.
    If you prefer not to present as a single binary gender for the duration of the game, contact
the gms and we will happily accommodate your casting desires.</p>

{% endblock %}