{% extends "garhdony_app/base_sheet.html" %}
{% load garhdony_tags %}



{% load garhdony_tags %}
{% load static %}

{% block morehead %}
{{block.super}}
{# need this anywhere there will be a filteredselectmultiple. That is dumb, I know. sorry. #}
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
{# here I removed 'admin/js/jquery.min.js' and 'admin/js/jquery.init.js'. I don't think they mattered? david 7/2023 #}
<link rel="stylesheet" type="text/css" href="{% static 'garhdony_app/sheets.css' %}">
{% endblock %}


{% block floats %}
{% if not editing %}
<div class="floater green">
  <img src="{% static 'garhdony_app/download.png'%}" height="50">
  <ul>
    {% if sheet.content_type == 'html' %}
    <li>
      <a class="green clickable" href=""> normal html </a>
    </li>
    <li>
      <a class="green clickable" href="?format=plain"> plain html </a>
    </li>
    {% endif %}
    {% if sheet.content_type == 'html' and sheet.needs_exporting %}{% else %}
    <li>
      <a class="green clickable" href="?format=file"> file </a>
    </li>
    {% endif %}
    {% if False %}
    <li>
      <a class="green clickable" href="?format=kindle"> kindle </a>
    </li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% if writer and sheet.current_lock %}
{% if sheet.current_lock.author == request.user %}
<a href="release">
{% endif %}
<div class="floater red {% if sheet.current_lock.author == request.user %} clickable {% endif %}"> {#style="background-image:url({% static 'garhdony_app/lock.png'%});background-repeat:no-repeat;vertical-align:middle">#}
  <img src="{% static 'garhdony_app/lock.png'%}" height="30">
    {{sheet.current_lock.author}}
</div>
{% if sheet.current_lock.author == request.user %}
</a>
{% endif %}
{% endif %}

{% if not editing and writer and sheet.content_type == 'html'%}
  <a href="export">
    <div class="floater {% if sheet.needs_exporting %} red {% else %} green {% endif %} clickable">
      Generate<br>PDF<br>
      <span style="font-size:8">
         {% if sheet.needs_exporting %}
           Last: {{sheet.current_revision.created|date:'M d'}}
         {% else %}
           no changes detected
         {% endif %}
      </span>
    </div>
  </a>
{% endif %}

{% endblock %}


{% block sheet_content %}

  {% if revision != sheet.current_revision %}
    <div class="warning">
      This is not the latest version! <a href={% url 'writer_sheet' game.name sheet.filename %}>View the latest version.</a>
    </div>
  {% endif %}

{% if sheet.content_type == 'html' %}
<div id="sheet-content">
  {{ revision.content|render_larpstring:writer }}
</div>
{% elif sheet.get_content_type_display == 'pdf' %}
  This sheet doesn't have an html version. Click the green button in the corner to download the {{sheet.get_content_type_display}} file.
  {% if writer %}
    (Players won't see this page; they'll get automatically sent to the file. You can see this page to edit the metadata.)
  {% endif %}
{% elif sheet.get_content_type_display == 'png' %}
  <img src="?format=file" style="width: 100%;">
{% endif %}

{% endblock %}

{% block timeline %}
  {% if sheet.timeline %}
    {% writable_field "timeline" %}
    <h1 id="sheet-timeline-header">Timeline {% edit_button %} </h1>
    {% display %}
      <table class="timeline">
        {% for entry in sheet.timeline.descriptions.all %}
          <tr>
            <td class="date">{{entry.event.date}}</td>
            <td class="event-description">{{entry.description}}</td>
          </tr>
        {% endfor %}
      </table>
    {% edit %}
      {# Note that form here is secretly a formset #}
      {% if edit_form.errors %} 
        <p style="color: red;">
          Please correct the error{{ edit_form.errors|pluralize }} below.
        </p>
          {{ edit_form.non_field_errors }}
      {% endif %}
      {{ edit_form.management_form }}
      <table class="timeline">
        {% for entry_form in edit_form %}
        <tr>
          {{ entry_form.id }}
          <td class="date">
            <div>
              {% if not entry_form.editable_event %} {{ entry_form.instance.event.day|default_if_none:"" }} {% endif %}
              {{ entry_form.day }} {{ entry_form.day.errors }}
            </div>
            <div>
              {% if not entry_form.editable_event %} {{ entry_form.instance.event.month|default_if_none:"" }} {% endif %}
              {{ entry_form.month }} {{ entry_form.month.errors }}
            </div>
            <div>
              {% if not entry_form.editable_event %} {{ entry_form.instance.event.year }} {% endif %}
              {{ entry_form.year }} {{ entry_form.year.errors }}
            </div>
          </td>
          <td>
            <div>
              {% if not entry_form.editable_event %} {{entry_form.instance.event}} [Shared event] {% endif %}
              {{entry_form.event }} {{ entry_form.event.errors }}
            </div>
            <div>{{entry_form.internal_name }} {{ entry_form.internal_name.errors }}</div>
          </td>
          <td class="event-description">
            <div>{{ entry_form.description }} {{ entry_form.description.errors }}</div>
          </td>
        </tr>
        {% if entry_form.non_field_errors %}
          <tr>
            <td colspan="3" style="color: red;">
              {{ entry_form.non_field_errors }}
            </td>
          </tr>
        {% endif %}
        {% endfor %}
      </table>
      {# Hidden event-date mapping for use in javascript #}
      <div id="event-date-mapping" style="display: none;">
        {% for entry in sheet.timeline.timeline.events.all %}
          <div class="event-date-mapping" data-event-id="{{entry.id}}" data-year="{{entry.year}}" data-month="{{entry.month}}" data-day="{{entry.day}}"></div>
        {% endfor %}
      </div>
    {% end_writable_field %}
  {% else %}
    {% if writer %}
    <h1 id="sheet-timeline-header">Timeline</h1>
        <form action={% url "add_timeline_viewer" game.name sheet.filename %} method="post"> {% csrf_token %}
          <button type="submit" name="your_name" value="Add Timeline">Add Timeline</button>
        </form>
        <a href=>  </a>
      <p> Players won't see a timeline on this sheet unless you add one. </p>
    {% endif %}
  {% endif %}
{% endblock %}
