{% extends "garhdony_app/base_writer_game.html" %}
{% load garhdony_tags %}
{% load static %}

{% block title %}{{game.name}} Timeline{% endblock %}

{% block morehead %}
<script src="{% static 'garhdony_app/timeline.js' %}"></script>
<link rel="stylesheet" href="{% static 'garhdony_app/sheets.css' %}"> {# for the timeline styling #}
{% endblock %}

{% block content %}
<table class='timeline master-timeline' id="timeline">
<tbody>
  {% for event in timeline.events.all %}
    <tr data-event={{event.id}} id="row-event-{{event.id}}" {% if 'event-'|concat:event.id|concat:'-' in editing %} class="highlighted-row"{% endif %}>
        <td class="date"> 
          {% with field='event-'|concat:event.id|concat:'-date' %}
          {% writable_field field %}
          {% edit_button "✎" %}
          {% display %}
          <div>{{event.date}}</div>
          {% edit %}
          <div>
            {{ edit_form.day }} {{ edit_form.day.errors }}
          </div>
          <div>
            {{ edit_form.month }} {{ edit_form.month.errors }}
          </div>
          <div>
            {{ edit_form.year }} {{ edit_form.year.errors }}
          </div>
          {% end_writable_field %}
          {% endwith %}
        </td>
        <td class="name">
          {% with field='event-'|concat:event.id|concat:'-internal_name' %}
          {% writable_field field %}
          {% edit_button "✎" %}
          {% display %}
          {{event.internal_name}}
          {% edit %}
          <div>
            {{ edit_form.internal_name }} {{ edit_form.internal_name.errors }}
          </div>
          {% end_writable_field %}
          {% endwith %}
        </td>
        <td class="sheets">
          {% if event.descriptions.count == 0 %}
            <form action="{% url 'timeline_delete_event' game.name event.id %}" method="post" class="delete-event-form">
              {% csrf_token %}
              <button type="submit">Delete</button>
            </form>
          {% else %}
            {% with field='event-'|concat:event.id|concat:'-descriptions' %}
            {% writable_field field %}
            {% edit_button "✎" %}
            {% display %}
              {% if event.descriptions.count > 2 %}
                <input type="checkbox" class="read-more-state" id="read-more-state-event-{{event.id}}" />
              {% endif %}
              <div class="read-more-wrap">
              <table><tbody>
                  {% for desc in event.descriptions.all %}
                  <tr {% if forloop.counter0 >= 2 %}class="read-more-target"{% endif %}>
                    <td>
                      <a href="{% url 'writer_sheet' game.name desc.viewer.sheet.filename%}#row-event-{{desc.event.id}}" class="individual-sheet">
                          {{desc.viewer.sheet.filename}}
                      </a>
                    </td>
                    <td>
                      {{desc.description}}
                    </td>
                  </tr>
                  {% endfor %}
              </tbody></table>
              </div>
              {% if event.descriptions.count > 2 %}
                <label for="read-more-state-event-{{event.id}}" class="read-more-trigger"></label>
              {% endif %}
            {% edit %}
            {{edit_form.management_form}}
            <table><tbody>
              {% for desc_form in edit_form.forms %}
              <tr>
                <td>
                  {{desc_form.id}}
                  {{desc_form.viewer}}
                  {{desc_form.viewer.errors}}
                  {{desc_form.non_field_errors}}
                </td>
                <td>
                  {{desc_form.description}} {{desc_form.description.errors}}
                </td>
                <td>
                  {{desc_form.DELETE.label}} {{desc_form.DELETE}} {{desc_form.DELETE.errors}}
                </td>
              <tr>
              {% endfor %}
            </tbody></table>
            {% end_writable_field %}
            {% endwith %}
          {% endif %}
      </td>
    </tr>  
  {% endfor %}
</tbody>
</table>
{% endblock %}