{% extends "garhdony_app/character_home_base.html" %}
{% load garhdony_tags %}
{% load static %}

{% block navbar %}
{% navbar here %}
{% endblock %}


{% block content %}

<table><tr>
    <td style="width:calc(100%-200px)">
      <h1>{{character.full_name}} (NPC)</h1>

        {% writable_field "notes" %}
          <b>{% edit_button %}{% display %}Notes:</b><br>
          {{character.notes}}
        {% end_writable_field   %}
    </td>
    <td style="width:200;text-align:right">
      {% writable_field "photo" %}
        {% edit_button %}
        {% display %}
        <img src='{{character.photo_url}}' style="max-width:200;max-height:200">
      {% end_writable_field %}
    </td>
</tr></table>

{% endblock %}
