#sheet-content h2 {
    font-size: 24pt;
}

#sheet-content h3 {
    font-size: 18pt;
}

#sheet-content .pagebreak {
    page-break-after: always;
}

.timeline {
    border-collapse: collapse;
    border: 1px solid;
}

.timeline td {
    border: 1px solid;
}

.timeline td.date {
    text-align: right;
    width: 20%;
}

form .timeline td.date > div {
    display: block;
}

.timeline td.event-description {
    width: 100%;
}