body {
        font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
/*	font-family:Helvetica,Arial,sans-serif;*/
	font-size: 14px;
	color:#000022;
	margin:80px;
	padding:0;
	text-align: justify;
	height:calc(100% - 301px)
}

table {
    color:inherit;
}

h2 {
	font-size:20px;
	margin:2em 0 0 0;
	text-align:center;
}

h3 {
    margin:0 0 0 0;
}

ul {
	margin:.5em .5em 1em 1em;
	padding:0;
}

li {
	padding:0 0 .5em 0;
}

table th {
	padding: 5;
}
table td {
	padding: 5;
}

@media print {
  #sidecolumn, .floater, #navbackground, #header, input, input.edit_button {
    display: none;
  }

  .no-page-break-inside {
    page-break-inside: avoid;
  }

  h1, h2, h3, h4, h5, h6 {
    page-break-after:avoid;
    page-break-inside:avoid
  }

  img {
    max-width: 100% !important;
  }

  body, #new-content {
    margin: 0;
    padding: 0;
  }

  @page :left {
    margin: 2cm 2cm 2cm 1.5cm;
  }

  @page :right {
    margin: 2cm 1.5cm 2cm 2cm;
  }
}
