html, body {
    font-family: "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    line-height: 25px;
}

p {
    margin-top: 35px;
}

.editor-bag {
    /* This is the outside div that contains the control bar and the text area */
    border:1px solid;
    background-color:#EEE;
    position:relative;
    overflow:visible; /*This lets bubbles extend outside the text area*/
}

.editor-shadow {
    /*
    This is a textarea into which the contents
    of the editor are copied before saving, since
    forms can only read from textareas.
    */
    min-height: 600px;
    display: none;
    border: none;
}

.editor-control-bar{
    /*This is the div for the control bar at the top.*/
    width:100%;
    position:absolute;
    left:0;
    top:0;
    z-index:10;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2), inset 0 0 2px rgba(255,255,255,0.2);
    background: rgb(55,55,53);
    cursor: pointer;

    /*
    The following three select:none things are needed to prevent
    clicking in the controls from moving the caret to the controls,
    which is extra dumb for the insert button in particular.
    */
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.stuck-at-top{
    /* For keeping the control bar at the top. */
    position:fixed;
    top:0;
    z-index:100;/* Go over all bubbles*/
}

.editor-control-bar > div{
    /* Menus and buttons in the control bar */
    outline: none;
    border-right:2px solid;
    border-left:2px solid;
    border-color:black;
    background: inherit;
    display:inline-block;
    text-align:center;
}

.editor-control-bar>.right{
    float:right;
}

.editor-button-label {
    /* Control bar entry label*/
    outline: none;
    background: transparent;
    font-family: FontAwesome;
    color: #EEE;
    font-size: 14pt;
    display:inline-block;
    padding:5 10 5 10;
    text-align:center;
}

.editor-control-bar .editor-button:hover{
    /*
    Buttons in the control bar.
    Includes buttons inside menus.
    */
    background-color:#111;
    color: white;
}

.editor-menu ul {
    /*
    Things in the bar that are menus have uls inside them
    That list the options.
    */
    display: none; /* Hide it by default */
    position: absolute;
    list-style-type: none; /* Don't show bullets */
    background:inherit; /* It seems to want a white background if you don't have this */
    width:inherit; /* Make the menu items as wide as the header */
    border: 2px solid black;
    border-radius: 0px 0px 5px 5px; /* Round the edges on the bottom */
    margin:-2px; /* To cancel out the border and line up with the menu header */
  }

.editor-menu:hover > ul{
    display:block;
}

.editor-menu ul li {
    padding: 1px;
    border-top: 1px solid gray;
    display:block;
    background:inherit;
}

.insert-menu {
    width:75px;
    }

/* Unused? 4/12/15
.info {
    width: 900px;
    margin: 45px auto;
    background: rgb(230, 255, 230);
    padding: 15px;
    border-radius: 3px;
    color: rgb(33, 33, 33);
}
*/