#sheet-content h2 {
    font-size: 24pt;
}

#sheet-content h3 {
    font-size: 18pt;
}

#sheet-content .pagebreak {
    page-break-after: always;
}

table.timeline {
    border-collapse: collapse;
    border: 1px solid;
    width: 100%;
}

table.timeline > tbody > tr > td {
    border: 1px solid;
    position: relative;
    /* pad on the right to make room for the edit button */
    padding: 2px 32px 2px 2px;
}

.timeline td.date {
    text-align: right;
}

form .timeline td.date > div {
    display: block;
}

.timeline td.event-description {
    width: 100%;
}

.timeline td .edit_button {
    position: absolute;
    top: 2px;
    right: 2px;
    width: 28px;
}
